/* .cardBg {
  background-color: #202020;
  align-items: center;
  justify-content: center;
  display: flex;
}
.card {
  width: 100%;
  background-color: #ffffff;
  align-self: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.cardWrapper {
  padding: 20px 40px;
}

.cardTop {
  background-color: #ceff00;
  height: 310px;
  display: flex;
  padding: 20px 40px;

  @media screen and (max-width: 768px) {
    height: 200px;
  }
}

.cardLeft {
  flex: 2;
  display: flex;
}

.imgBox {
  width: 100%;
  height: 100%;
  display: flex;
}

.projectCover {
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

.img:hover {
  background: rgba(0, 255, 255, 0.5);
  transition: all 0.3s linear;
}

.cardRight {
  flex: 3;
  margin-left: 20px;
  display: grid;
}

.cardTitle {
  text-align: center;
  font-size: 30px;
  color: #202020;
  font-weight: 700;
}

.cardDesc {
  font-size: 24px;
  color: #202020;
  font-style: italic;
  margin-top: 10px;
}

.cardLinks {
  align-items: center;
  justify-content: center;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleLink {
  background-color: #202020;
  margin: 10px 20px;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 24px;
  font-style: bold;
  cursor: pointer;
  align-self: center;
  white-space: nowrap;
  will-change: transform;
  transition: transform 450ms;
}

.singleLink:hover {
  font-weight: 600;
  font-style: italic;
  transition: transform 125ms;
  transform: translateY(-2px);
  background-color: #ceff00;
  color: #202020;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.cardBottom {
  background-color: #ceff00;
  margin-top: 20px;
  height: 50px;
  width: 10px;
}

.carouselBox {
  background: #202020;
  width: 977;
  height: 310;
  text-align: center;
  box-sizing: border-box;
}

.stackDisplay {
  display: block;
  justify-content: center;
  align-items: center;
}

.techStack {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techStackTitle {
  color: #202020;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
}

.tech {
  background-color: #202020;

  margin: 5px 10px;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 22px;
  font-style: italic;
  align-self: center;
  white-space: nowrap;
} */
