/* font-family: 'Montserrat', sans-serif; */
.hero {
  background-color: #202020;
  color: white;
  height: 800px;
}

.heroWrapper {
  width: 100%;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.leftHeroContent {
  flex: 4;
  font-weight: 600;
  padding-top: 200px;
  padding-left: 20px;
}

.heroTitle {
  font-size: 60px;
  color: white;

  /* position: absolute;
  width: 289px;
  height: 45px;
  left: 156px;
  top: 343px;

  font-family: Courier New;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;

  color: #ffffff; */
}

.heroSubtitle {
  font-size: 60px;

  /* position: absolute;
  width: 625px;
  height: 99px;
  left: 156px;
  top: 397px; */
}

.name {
  color: #ceff00;
}

.socials {
  display: flex;
}

.socialList {
  list-style: none;
  display: flex;
  align-items: center;
}

.socialIcons {
  margin-right: 20px;
  cursor: pointer;
  padding-top: 10px;
}
.socialIcon {
  color: #ceff00;
  font-size: 60px !important;
  will-change: transform;
  transition: transform 450ms;
}

.socialIcon:hover {
  color: #ffffff;
  transition: transform 125ms;
  transform: translateY(-10px);
}

.rightHeroContent {
  flex: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.resumeButton,
.workButton {
  border: 0px;
  cursor: pointer;
  color: #202020;
  margin: 20px 0px;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px 40px;
  font-weight: bold;
  width: 100%;
}

.resumeButton {
  background-color: white;
  will-change: transform;
  transition: transform 450ms;
}

.resumeButton:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
  color: #ceff00;
  background-color: #202020;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.workButton {
  background-color: #ceff00;
  will-change: transform;
  transition: transform 450ms;
}

.workButton a {
  color: #202020;
  text-decoration: none;
}

.workButton a:hover {
  color: #ceff00;
}

.workButton:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
  color: #ceff00;
  background-color: #202020;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
