.tools {
  background-color: #202020;
  color: white;
  height: 800px;
}

.toolsWrapper {
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
}

.titleContainer {
  font-style: bold;
  align-items: center;
  justify-content: center;
  display: block;
  text-align: center;
  padding-top: 40px;
}

.title {
  font-size: 50px;
  align-self: center;
  font-weight: 700;
}

.subtitles {
  color: #5a5a5a;
  font-size: 30px;
  margin-top: 20px;
}

.toolsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  align-content: center;
  padding: 20px 30px;
}

.backend {
  flex: 1;
}

.backendTitle {
  font-size: 30px;
}

.backendToolsList {
  list-style: none;
  margin-top: 22px;
}

.backendTools {
  font-size: 30px;
  color: #ceff00;
  margin-bottom: 20px;
}

.frontend {
  flex: 1;
}

.frontendTitle {
  font-size: 30px;
}

.frontendToolsList {
  list-style: none;
  margin-top: 22px;
}

.frontendTools {
  font-size: 30px;
  color: #ceff00;
  margin-bottom: 20px;
}

.others {
  flex: 1;
}

.othersTitle {
  font-size: 30px;
}

.othersToolsList {
  list-style: none;
  margin-top: 22px;
}

.othersTools {
  font-size: 30px;
  color: #ceff00;
  margin-bottom: 20px;
}

.addedComment {
  color: #5a5a5a;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}
