.navbar {
  width: 100%;
  background-color: #ceff00;
  position: sticky;
  top: 0;
  z-index: 999;
  color: #202020;
}

.navbar:sticky {
  background-color: #202020;
}

.navbarWrapper {
  height: 100%;
  display: flex;
  padding: 40px 30px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  /* color: #006b61; */
}

.dot {
  color: #202020;
  font-size: 14px !important;
  margin-right: 5px;
}

.topLeft {
  align-items: center;
  display: flex;
  justify-content: center;
}

.leftContent {
  color: #202020;
  font-weight: 900;
  cursor: pointer;
  /* font-style: oblique; */
}

.leftContent span#a {
  display: inline;
  /* will-change: transform;
  transition: transform 450ms; */
}

.leftContent:hover span#a {
  display: none;
  /* transition: transform 125ms; */
}

.leftContent span#b {
  display: none;
  /* will-change: transform;
  transition: transform 450ms; */
}

.leftContent:hover span#b {
  display: inline;
  /* transition: transform 125ms; */
}

.topRight {
  display: flex;
}

.rightContent {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.rightItems {
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 15px;
  font-weight: 900;

  background: linear-gradient(to right, #202020 50%, #ffffff 50%, #ffffff);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}

.rightItems:hover {
  /* background-color: #006b61;
  color: #ceff00;
  font-style: oblique; */
  background-position: -100%;
  /* transform: scale(1.1); */
}
